.scroll-x{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin: 12px;
    padding: 0.1em;
    height: auto;
}

.Muestra{
padding-bottom: 2em;
}

.muestra-titu p {
color: blue;
}


