.Franja {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  height: 20svh;
  padding: 15px;
  border-bottom: 2px solid black;
}

.franja-icono {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 50%;
}

.franja-icono i {
  font-size: 2em;
}

.franja-icono p {
  font-size: 1.2em;
  
  font-family: "Kanit", sans-serif;
}
